@-webkit-keyframes fadeIn {
    to {
      opacity: 1;
    }
  }
  
  @keyframes fadeIn {
    to {
      opacity: 1;
    }
  }

  .fade-in {
	-webkit-animation: fadeIn .5s ease-in 1 forwards;
  animation: fadeIn .5s ease-in 1 forwards;
  opacity: 0;
}

.box {
    position: absolute;
    display: block;
    left: 15%;
    top: 10%;
    width: 70%;
    height: 70%;
    background-color: blue;
    overflow-x: hidden;
    overflow-y: scroll;
}
.first{
    
}
.button1 {
    width: 30px;
    height: 39px;
    background:url("../image/background1.jpg");
    background-attachment: fixed;
    position: absolute;
    display: block;

}

.background2{
    position: relative;
    left: -20%;
   
}