
body {
    background-color: black;
    /* rgb(232, 187, 250 */
}
.container{
    width:50vh;
    height: 100vh;
}

.textile1{
    position: relative;
    width: 100%;
}

.textile2{
    position: relative;
}

/* .jennieblue{
    position: absolute;
    z-index: 10px;
    transform: translate(0px,0px);
transform: translate(0px,385px);
transition: all .5s ease-in-out;
} */

div ul{
    overflow: scroll;
    list-style-type: none;
    margin:0;
    padding: 0;
    width: 300%;
    margin-left: 30%;
    text-align: center;
    display: block;
    line-height: 1;
  }


  .jennieblue {
    transform: translate(0px,-385px);
    transition: all .5s ease-in-out;
    position: fixed;
    z-index: 10;
    top: 60%;
    left: 9%;
}

.jennieblue:hover { 
    transform: scale(1.1); 
    } 

.jennie4{
    /* transform: translate(0px,-385px);
    transition: all .5s ease-in-out; */
    position: fixed;
    z-index: 10;
    top: 40%;
    left: 70%;
}













/* .jennieblue {
    width: 4in;
    height: 6in;
    transform: translate(0px,385px);
    transition: all .5s ease-in-out;
}
.jennieblue:hover { 
    transform: scale(1.1); 
} */

/* .jennie2{
    width: 4in;
    height: 8in;
    transform: translate(0px,-900px);
    transition: all .5s ease-in-out;
    z-index: -1;
} */
/* .jennie2:hover { 
    transform: scale(1.1); 
    transform: translate(0px,-200px);
} */
/* .blue{
    position: fixed;
    width: 8in;
    height: 8in;
    transform: translate(0px,-960px);
    z-index: -2;
} */

/* .textile{
    display: flex;
    transform: translate(50px,-300px);
        left: 15%;
        top: 50%;
        z-index: -1;
        width: 50%;
        height: 300%;
} */

/* .container1{
    width: 10in;
    height: 30in;
    transform: translate(340px,10px);

    background-color: black;
    display: grid;
    grid-template-columns: auto;
    font-family: "Passion One", sans-serif;
    text-align: center;
    border: 16px solid rgb(157, 236, 232);
    cursor: pointer;
    -webkit-transition: 0.5s;
} */

/* .container2{
    width: 10in;
    height: 10in;
    transform: translate(340px,10px);
   
    background-color: black;
    display: grid;
    grid-template-columns: auto;
    font-family: "Passion One", sans-serif;
    text-align: center;
    border: 25px solid white;
    cursor: pointer;
    -webkit-transition: 0.5s;
}

.container3{
    width: 10in;
    height: 10in;
    transform: translate(340px,10px);
   
    background-color: white;
    display: grid;
    grid-template-columns: auto;
    font-family: "Passion One", sans-serif;
    text-align: center;
    border: 25px solid pink;
    cursor: pointer;
    -webkit-transition: 0.5s;
}
 */
