body {
    background-color: rgb(0, 0, 0);
    /* rgb(232, 187, 250 */
}

.jennieblue{
    width: 4in;
    height: 6in;
    transform: translate(0px,366px);

}
.sparkle{
    width: 8in;
    height: 8in;
    z-index: -1;
}

.jennie2{
    position: absolute;
    width: 4in;
    height: 8in;
    transform: translate(578px,-0px);
    z-index: -1;
}
.pearl{
    width: 4in;
    height: 4in;
    top: 10%;
}

.blue{
    position: relative;
    width: 8in;
    height: 8in;
    transform: translate(0px,-576px);
    z-index: -2;
}

.textile{
    display: flex;
        position: absolute;
        left: 15%;
        top: 50%;
        z-index: -1;
        width: 25%;
        height: 55%;

}

.container1{
    width: 10in;
    height: 10in;
    transform: translate(340px,10px);

    background-color: white;
    display: grid;
    grid-template-columns: auto;
    font-family: "Passion One", sans-serif;
    text-align: center;
    border: 25px solid pink;
    cursor: pointer;
    -webkit-transition: 0.5s;
}

.container2{
    width: 10in;
    height: 10in;
    transform: translate(340px,10px);
   
    background-color: black;
    display: grid;
    grid-template-columns: auto;
    font-family: "Passion One", sans-serif;
    text-align: center;
    border: 25px solid white;
    cursor: pointer;
    -webkit-transition: 0.5s;
}

.container3{
    width: 10in;
    height: 10in;
    transform: translate(340px,10px);
   
    background-color: white;
    display: grid;
    grid-template-columns: auto;
    font-family: "Passion One", sans-serif;
    text-align: center;
    border: 25px solid rgb(157, 236, 232);
    cursor: pointer;
    -webkit-transition: 0.5s;
}

