body {
    color: black;
    background-color: white;
    display: flex;
justify-content: center;
align-items: center;
flex-flow: column wrap;
}

h1{
font-family: Arial, Helvetica, sans-serif;
transform: translate(0,-80px);
font-size: 100px;
background-image: linear-gradient(to right,  #C835CC 0%, #E88A38 15%, #D5D773 40%, #97E47D 65%, #8ADDDC 80%, #0C2B65 100%);   -webkit-background-clip: text;
  color: transparent;
}

.music_genre_name{
transform: translate(0,80px);

    font-family: Arial, Helvetica, sans-serif;

}

.artist{
    font-family: Arial, Helvetica, sans-serif;
    transform: translate(0,30px);
  
}
.pure-form{
   width: auto;
   transform: translate(100px,-30px);
}

#trackname{

  border: 2px solid pink;
  width: 800px;
  height: 50px;
  
  border: 5px solid transparent;
  border-image: linear-gradient(to bottom right, #C835CC 0%, #E88A38 15%, #D5D773 40%, #97E47D 65%, #8ADDDC 80%, #0C2B65 100%);
  /* border-image: linear-gradient(rgb(200,53,204), rgb(232,138,56),rgb(213,215,115),rgb(151,228,125),rgb(138,221,220),rgb(12,43,101)) 1; */
  border-image-slice: 1;
 
}

#form__submit{
  
}

.search{
 
   

}