* {
    font-family: 'Roboto Slab', serif;
}

h1 {
    display: inline-block;
    position: absolute;
    right: 5%;
    bottom: 100px; 
    font-size: 50px;
}

p {
    display: inline-block;
    position: absolute;
    font-size: 30px;
    left: 5%;
    top: 5%;
}