html body {
    background: #000;
    color: #fff;
    font-size: 16px;
  }
  
  img{
    height: auto;
    max-width: 90%;
    width: 90%;
    opacity: 0.5;
  }
  
  .good{
    overflow:auto;
    max-width: 100%;
    /* border-color: skyblue;
    border-style: solid;
    border-width: 15px; */
  }
  
  .bad{
    overflow:auto;
    max-width: 100%;
    transform: translate(0px,100px);
    border-color: red;
    border-style: solid;
    border-width: 15px;
  }
  
  
  .bad4{
  height:auto;
  max-width: 90%;
  }

   
  .bad5{

    height:auto;
    max-width: 100%;
    }

  li:hover{
    transform: scale(1.2);
  }
  ul{
    overflow: scroll;
    list-style-type: none;
    margin:0;
    padding: 0;
    width: 200%;
  }
  ul li {
    float: left;
    width: calc(100% / 6);
  }
  ul li a,
  ul li a img{
    display: block;
    line-height: 1;
    transition: opacity 500ms ease-in-out; 
  }
  
  ul li a img:hover{
    opacity: 1;
  }
  
  .list_wrapper--good a {
    background-color: skyblue;
    display: block;
  }
  
  .list_wrapper--bad a {
    background-color: red;
    display: block;
  }
  
  .grow { transition: all .2s ease-in-out; }
  .grow:hover { transform: scale(1.1); }