@import url('https://fonts.googleapis.com/css?family=Passion+One');

*{
  padding: 0;
  margin: 0;
}

body,html{
  background-color:black;
}


.container{
  width:90%;
  height: 280vh;
  margin-left: 5%;
  background-color: black;
  display: grid;
  grid-template-columns: auto;
  font-family:"Akzidenz-Grotesk", sans-serif;
  text-align: left;
  border: 12px solid pink;
  cursor: pointer;
  -webkit-transition:0.5s;}
  

h1{
  font-size: 260px;
}


.jennieblue {
  transform: translate(0px,-385px);
  transition: all .5s ease-in-out;
  position: fixed;
  z-index: 10;
  top: 60%;
  left: 9%;
}

@media screen and (max-width:700px) {
  h3{
    font-size: 50px;
  }
  h1{
    font-size: 260px;
  }
  h2{
    font-size: 62px;
  }
  h4{
    font-size: 10px;
  }
}

.cliped1{
background: url(../image/mossaic.jpg) no-repeat center center;
background-size: cover;
/* background-position-y:46px; */
background-attachment: fixed;
overflow: hidden;
color: #fff;
-webkit-text-fill-color: transparent;
-webkit-background-clip:text;}

/* .cliped2{
background: url(../image/background2.jpg) no-repeat center center;
background-size: cover;
background-attachment: fixed;
color: #fff;
-webkit-text-fill-color: transparent;
-webkit-background-clip:text;}

.cliped3{
background: url(../image/background3.jpg) no-repeat center center;
background-size: cover;
background-attachment: fixed;
color: #fff;
-webkit-text-fill-color: transparent;
-webkit-background-clip:text;}


.cliped4{
background: url(../image/97ed9751e5890001fab52a2c03061502.jpg) no-repeat center center;
background-size:cover;
background-attachment: fixed;
color: #fff;
-webkit-text-fill-color: transparent;
-webkit-background-clip:text;}

.cliped5{
background: url(../image/97ed9751e5890001fab52a2c03061502.jpg) no-repeat center center;
background-size:cover;
background-attachment: fixed;
padding: 20px;
color: #fff;
overflow: scroll;
-webkit-text-fill-color: transparent;
-webkit-background-clip:text;} */
